Set-Content .env "PORT=5000"
Add-Content .env "MONGODB_URI=mongodb+srv://faizanrizwan327_db_user:wy4WgE5cWWge3DAV@cluster0.wyoo1do.mongodb.net/roti-radar?retryWrites=true&w=majority&appName=Cluster0"
Add-Content .env "JWT_SECRET=rotiRadarSecret2026"